:root {    
    --colprimary: darkslateblue;
    --coloffblack: #111;
    --coltabs: #DDE;
    --colmiddlegrey: #445;    
    --coltabsfade: #112;
}


body {
    min-height: 80rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.8rem;    
    margin: 0;
}


#contentlibrary
{
    display: none;
}


/* RE-OCCURING ELEMENTS */

h1 { 
    font-size: 3rem;
}

h2 { 
    font-size: 2.5rem;
}

h4 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}




                /* HEADER */              

header {
    text-align: center;    
    padding-top: 1rem;    
    /* padding-bottom: 0.1rem; */
    /* min-height: 10rem; */    
    /* background: #316; */
    /* background: darkslateblue; */
    background-image : linear-gradient(90deg, var(--colprimary) 35rem, #113)
}

header h1 {
    margin: 0;
    padding: 5rem;
    line-height: 1.2em;
    color: white;
}

header h3 {
    margin: 0;   
    margin-bottom: 1.2rem;
    color: #DDD;     
}


/* menubar */

header #menubar {        

    margin: 0;
    /* height: 10vh; */    
    /* margin-top: 2rem; */
    /* padding: 0; */    
    /* flex-basis: 10%;*/
    /* flex-grow: 0; */

    list-style-type: none;        
    text-align: center;    

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-end; */

    /* background: darkslateblue; */    
}

header #menubar li {    
    min-width: 8rem;
    padding: 0.7rem 0.8rem;    
    cursor: pointer;    
    transition: transform 200ms;    
    
    margin: 0 0.5rem;

    font-size: 1.2em;    
    /* background-color: #DDE;     */
    background: var(--coloffblack);
    color: white;    
}

@media (max-width: 870px) {
    header #menubar {    
        justify-content:space-around;
    }
    
    header #menubar li {
        /* width: auto; */
        min-width: 2.1rem;
        /* font-size: 0.8em;         */
        padding: 0.7rem 0.4rem;   
        margin: 0 0.5rem;
        flex-grow: 1;
    }
}

/* @media (max-width: 690px) {   
    header #menubar li {
        width: auto;
        min-width: 1rem;
        font-size: 0.8em;        
        padding: 0.4rem 0.4rem;   
        margin: 0 0.1rem;
    }
} */

header #menubar li:not(.active):hover {        
    /* opacity: 0.5; */
    background: #335;
    color: white;
    /* box-shadow: 0.2rem 0.2rem 0.3rem #0001; */
    /* transform: scaleY(1.3); */
}

header #menubar li.active {
    /* background:#116; */    
    transform: translateY(0.8rem);    
    font-weight: bold;        
    box-shadow: 0 0 0;   
    background: white;
    /* background: var(--coloffblack); */
    color: black;      
}


                /* MAIN */

main {   
    max-width: 60rem;
    width:85vw;
    margin: 0 auto;
}

#titleholder {
    /* height: 6rem; */
    text-align: center;
    /* background: lightpink;   */
    margin: 5rem 0 4rem 0;
}


/* links holder */

#linksholder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

#linksholder a {
    padding: 0.5rem 0.8rem; 
    text-decoration:none;     
    /* display: inline-block; */    
    /* width: 15rem; */           
}

#linksholder a:hover {
    opacity: 0.8;
    box-shadow: none;
}

#linksholder .fa {
    font-size: 1.6rem;
    margin-right: 0.5rem;    
    vertical-align: middle;       
}

#linkurlholder {
    background: var(--colprimary);
    border-radius: 0.4rem;
    color: white;
    box-shadow: 2px 2px 2px #0008;
}


/* summary holder */

#summaryholder {
    /* min-height: 8rem;     */
    white-space: pre-line;    
    /* background: chocolate; */      
}

#summaryholder p {        
    padding: 2rem 0;
    margin: 0;      
    /* background: chocolate; */
}


/* display frame */

#displayframe {        
    margin: 0;
}


/*  tabs frame */

#tabsframe {       
    margin: 0;
    padding: 0;
    list-style-type: none;       
    display: flex;
    justify-content: start;
    font-size: 1.1em;
    gap: 2px;
}

@media (max-width: 540px) 
{
    #tabsframe {
        flex-direction: column;        
        margin-bottom: 2px;
        width:fit-content;
    }    
}

#tabsframe li {     
    padding: 0.5rem 1rem;
    cursor: pointer;
    background: var(--coltabs);       
}

#tabsframe li:not(.active):hover {       
    opacity: 0.7;  
}

#tabsframe li.active {    
    /* font-weight: 700; */
    color: black;
    /* background: #DDB; */
    /* background: #EEF; */
    background: var(--colmiddlegrey);
    color: white;
}


/* tabs */

#tabpageholder {    
    width: auto;    
    padding: 1rem 2rem 3rem 2rem;                    
    
    /* overflow-y:auto; */
    
    background: var(--colmiddlegrey);
    background: linear-gradient(155deg, var(--colmiddlegrey) 10rem, var(--coltabsfade));
    color: white;
}

.tabpage {
    display: none;
    white-space: pre-line;
}

.tabpage.active {
    display: block;
}


/* footer */

footer {
    height: 1rem;
}